<!--Titulo-->
<div class="header-app" style="margin-top:1rem;">
    <h1 style=" font-weight: bold;">{{sTitulo}}</h1>
</div>

<!--Filtro-->
<div class="form row">
    <div class="col-md-6">
        <mat-form-field appearance="standard" style="width: 90%;">
            <mat-label>Buscar Graduado</mat-label>
            <input matInput (keyup)="applyFilter($event)" [formControl]="txtFiltro" #input>
            <button style="outline: none;" *ngIf="txtFiltro.value" mat-button matSuffix mat-icon-button
                aria-label="Clear" (click)="fnClearFilter()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
</div>

<!--Boton: Tabla-->
<div class="example-container mat-elevation-z8 ">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;" aria-describedby="TablaUsuario">

        <!-- Codigo -->
        <ng-container matColumnDef="sDNI">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnDNI" id="DNI"> DNI </th>
            <td mat-cell *matCellDef="let element"> {{element.sDNI}} </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="sNombrePersona">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="clsColumnNombre" id="Nombre"> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.sNombrePersona}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!--Mat Paginator-->
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</div>