table {
    width: 100%;
}

.header-app {
    text-align: center;
}

.filtros {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
}

.example-button-row button,
.example-button-row a {
    margin-right: 0.5rem;
}

.example-container {
    /*height: 38rem;*/
    width   : 100%;
    overflow: auto;
}

.fab-container {
    position      : fixed;
    top           : 5rem;
    right         : 35px;
    z-index       : 101;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-top    : 5px;
}

.fab-container>div {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-bottom : 5px;
}

.fab-container>div>button {
    margin-top: 10px;
    outline   : none;
}

.clsColumnDNI{
    width: 30%;
}

.clsColumnNombre{
    width: 70%;
}